html {
  font-family: 'nimbus-sans',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
}

body {
  font-size: 2vw;
  line-height: 1.15;
  letter-spacing: -0.2px;
}

blockquote {
  font-family: 'mencken-std', 'Times New Roman', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 3.5vw;
  margin-top:15px;
}

header {
  position: fixed;
  top:0;
  width: 100%;
  height: 10vh;
  background-color: #fafafa;
  z-index: 100;
  padding-left: 5px;
  padding-top: 5px;
  box-sizing: border-box;
}

header div {
  width: 50%;
  float: left;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

header ul li {
  font-size: 1.2rem;
  font-weight: 700;
}

#left-side-content {
  width: 50vw;
  height: 90vh;
  position: fixed;
  overflow: hidden;
  background-color: grey;
  bottom:0;
  color: #ffffff;
}

#right-side-content {
  width:50vw;
  height: 90vh;
  position:absolute;
  right:0;
  top:10vh;
  box-sizing: border-box;
}

#right-side-content section {
  padding: 15px;
  box-sizing: border-box;
}

#left-side-content .quote {
  position: absolute;
  bottom: 10px;
}

.color-block {
  background-color: #cccccc;
}

.logo-container {
  height:8vh;
  box-sizing: border-box;
}

#cc-logo {
  max-height: 100%;
  mix-blend-mode: multiply;
}

.impact-grid-parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
list-style: none;
padding:0;
}

.impact-grid-parent li {
  background-color: grey;
  box-sizing: border-box;
  padding:10px;
  color: white;
  font-size: 1.2rem;
}

.impact-1 { grid-area: 1 / 1 / 2 / 2; }
.impact-2 { grid-area: 1 / 2 / 2 / 3; }
.impact-3 { grid-area: 2 / 1 / 3 / 2; }
.impact-4 { grid-area: 2 / 2 / 3 / 3; }
.impact-5 { grid-area: 3 / 1 / 4 / 2; }
.impact-6 { grid-area: 3 / 2 / 4 / 3; }
.impact-7 { grid-area: 4 / 1 / 5 / 2; }
.impact-8 { grid-area: 4 / 2 / 5 / 3; }

/* **** ***/

.hide {
  display: none;
}

.reveal1, .reveal2 {
		opacity: 0;
		transform: translateX(-40px);
		transition: all 1s ease-in-out;
}
.reveal1.visible, .reveal2.visible {
		opacity: 1;
		-webkit-transform: none;
			 -moz-transform: none;
				-ms-transform: none;
				 -o-transform: none;
						transform: none;
}

.our-expertise ul li {
  margin-bottom: 20px;
}

.reveal1 {
  padding-left: 15px;
  margin-bottom:5px;
}
